.place__paragraph-top {
   grid-column-start: 2;
   grid-row-start: 2;
   grid-row-end: 3;
   margin-top: 48px;
   margin-left: 40px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 163%;
   color: #FFFFFF;
}

@media screen and (max-width: 660px) {
   .place__paragraph-top {
      margin-top: 32px;
      margin-left: 16px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 163%;
      color: #FFFFFF;
      margin-bottom: 0px;
   }
}