.place__title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 900;
   font-size: 72px;
   line-height: 106%;
   color: #FFFFFF;
   margin-top: 0px;
   margin-bottom: 0px;
   max-width: 460px;
}

@media screen and (max-width: 850px) {
   .place__title {
      max-width: 300px;
   }
}

@media screen and (max-width: 660px) {
   .place__title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 900;
      font-size: 32px;
      line-height: 35px;
      color: #FFFFFF;
      max-width: 288px;
      margin: 0 16px 32px 16px;
   }
}