.photo-grid {
   display: grid;
   box-sizing: border-box;
   object-fit: cover;
   max-width: 1184px;
   grid-template-columns: repeat(4, 25%);
   grid-template-rows: auto;
   gap: 16px;
   margin: 82px 28px 116px 28px;
}


@media screen and (max-width: 1276px) {
   .photo-grid {
      margin: 0 48px 0 48px;
      grid-template-columns: repeat(3, 33%);
      margin-top: 92px;
      margin-bottom: 92px;
   }
}



@media screen and (max-width: 1125px) {
   .photo-grid {
      margin: 0 48px 0 48px;
      grid-template-columns: repeat(3, 33,333%);
      margin-top: 92px;
      margin-bottom: 92px;
   }
}

@media screen and (max-width: 850px) {
   .photo-grid {
      grid-template-columns: repeat(2, 50%);
   }
}

@media screen and (max-width: 660px) {
   .photo-grid {
      grid-template-columns: repeat(1, 100%);
      margin: 64px 16px 64px 16px;
   }
}