.photo-grid {
   display: grid;
   box-sizing: border-box;
   aspect-ratio: auto;
   object-fit: cover;
   max-width: 1184px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: auto;
   gap: 16px;
  margin-left: 48px;
  margin-right: 48px;
   margin-bottom: 106px;
   margin-top: 95px;
}


@media screen and (max-width: 1276px) {
   .photo-grid {
     margin: 0 auto;
      grid-template-columns: repeat(3, 33%);
      margin-top: 92px;
      margin-bottom: 92px;
      max-width: 928px;
   }
}


@media screen and (max-width: 1125px) {
   .photo-grid {
      grid-template-columns: repeat(3, 33%);
      padding: 0px 20px 0px 0px;
      margin-bottom: 90px;
   }
}

@media screen and (max-width: 933px) {
   .photo-grid {
      grid-template-columns: repeat(2, 50%);
      max-width: 720px;
      margin: 0 auto;
      margin-bottom: 88px;
   }
}

@media screen and (max-width: 715px) {
   .photo-grid {
      grid-template-columns: repeat(1, 100%);
      margin: 0 auto;
      max-width: 288px;
      margin-top: 65px;
      padding-right: 0;
      gap: 12px;
      margin-bottom: 65px;
   }
}