.place__image {
   max-width: 460px;
   grid-column-start: 1;
   grid-row-start: 2;
   grid-row-end: 5;
   margin-top: 47.8px;
}


@media screen and (max-width: 1025px) {
   .place__image {
      max-width: 440px;
   }
}


@media screen and (max-width: 850px) {
   .place__image {
      max-width: 340px;
   }
}

@media screen and (max-width: 660px) {
   .place__image {
      max-width: 320px;
      margin-top: 32px;
   }
}