.intro__list {
   list-style: none;
   padding-left: 0;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 12px;
   line-height: 150%;
   color: #FFFFFF;
   margin-top: 33px;
}