.lead__title {
   color: #FFFFFF;
   font-family: "Inter-Bold";
   font-size: 96px;
   font-weight: 900;
   line-height: 100px;
   text-align: center;
   min-width: 100%;
   margin: 0 auto;
}

@media screen and (max-width: 900px) {
   .lead__title {
      font-family: 'Inter-Bold';
      font-style: normal;
      font-weight: 900;
      font-size: 70px;
      line-height: 100px;
      text-align: center;
      color: #FFFFFF;
   }
}


@media screen and (max-width: 700px) {
   .lead__title {
      font-family: 'Inter-Bold';
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      line-height: 44px;
      text-align: center;
      color: #FFFFFF;
   }
}