.place__paragraph {
   grid-column-start: 2;
   margin-left: 40px;
   font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 163%;
   color: #FFFFFF;
   margin-bottom: 10px;
   margin-top: 10px;
}


.place__paragraph:first-of-type {
   margin-top: 47.8px;
}

.place__paragraph:last-of-type {
   margin-bottom: 0px;
}


@media screen and (max-width: 1025px) {
   .place__paragraph {
      max-width: 435px;
      margin-left: 25px;
   }
}


@media screen and (max-width: 850px) {
   .place__paragraph {
      font-size: 16px;
      padding-left: 0px;
      margin-left: 29px;
   }
}


@media screen and (max-width: 660px) {
   .place__paragraph {
      max-width: 288px;
      margin-left: 16px;
      font-size: 16px;
   }
      .place__paragraph:first-of-type {
         margin-top: 30px;
      }
}

