.place__paragraph-bottom {
   grid-column-start: 2;
   grid-row-start: 3;
   grid-row-end: 4;
   margin-left: 7.7%;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 163%;
   color: #FFFFFF;
}