.lead__subtitle {
   font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 36px;
   text-align: center;
   color: #FFFFFF;
   max-width: 640px;
   margin: 0 auto;
   margin-top: 25px;
   margin-bottom: 6.6%;
}


@media screen and (max-width: 1025px) {
   .lead__subtitle {
      margin-top: 30px;
      padding-right: 10px;
   }
}


@media screen and (max-width: 769px) {
   .lead__subtitle {
      padding-left: 10px;
   }
}


@media screen and (max-width: 660px) {
   .lead__subtitle {
      font-size: 16px;
      line-height: 20px;
   }
}


@media screen and (max-width: 660px) {
   .lead__subtitle {
     margin-top: 15px;
     padding-left: 5px;
     padding-right: 10px;
     margin-bottom: 40px;
   }
}