.place__title_url-heading {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 100%;
   letter-spacing: 2px;
   color: #AAAAAA;
}

@media screen and (max-width: 660px) {
   .place__title_url-heading {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 2px;
      color: #AAAAAA;
      margin-top: 0px;
   }
}