.cover__title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 900;
   font-size: 72px;
   line-height: 106%;
   color: #FFFFFF;
   margin: 0 auto;
   max-width: 560px;
}


@media screen and (max-width: 552px) {
   .cover__title {
      font-size: 40px;
      line-height: 35px;
   }
}