.place {
   max-width: 985px;
   display: grid;
   margin: 0 auto;
   grid-template-columns: repeat(2, auto);
   margin-bottom: 79.6px;
}


@media screen and (max-width: 1025px) {
   .place {
      max-width: 928px;
   }
}


@media screen and (max-width: 850px) {
   .place {
      max-width: 720px;
      font-size: 16px;
      margin: 0 auto;
      margin-bottom: 73px;
   }

      .place:last-of-type {
         margin-bottom: 89px;
      }
}

@media screen and (max-width: 660px) {
   .place {
      max-width: 320px;
      display: flex;
      flex-direction: column;
      grid-template-columns: 320px;
      grid-template-rows: auto;
      margin-bottom: 44px;
   }
}



@media screen and (max-width: 560px) {
   .place {
      max-width: 320px;
      margin-bottom: 44px;
   }
   .place:last-of-type {
      margin-bottom: 70px;
   }
}