.footer {
   display: flex;
   gap: 5px;
   justify-content: space-between;
   max-width: 1184px;
   margin: 0 auto;
   margin-top: 92px;
   margin-bottom: 24px;
   font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
   color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
   .footer {
 
      margin: 92px 48px 24px 48px;
   }
}



@media screen and (max-width: 1125px) {
   .footer {

      margin: 92px 48px 24px 48px;
   }
}

@media screen and (max-width: 850px) {
   .footer {
      max-width: 720px;
   }
}

@media screen and (max-width: 669px) {
   .footer {
      display: flex;
      flex-direction: column;
   }
}