.footer {
   display: flex;
   gap: 5px;
   justify-content: space-between;
   max-width: 1184px;
   margin: 0 auto;
   margin-top: 92px;
   margin-bottom: 24px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
   color: #FFFFFF;
}