.place__website {
   display: grid;
   grid-column-start: 2;
   grid-row-start: 1;
   grid-row-end: 2;
   justify-content: start;
   align-content: end;
   margin-left: 7.7%;
   max-height: 150px;
}

@media screen and (max-width: 1025px) {
   .place__website {
      margin-left: 25px;
   }
}

@media screen and (max-width: 880px) {
   .place__website {
      margin-left: 29px;
      padding-bottom: 3px;
   }
}



@media screen and (max-width: 660px) {
   .place__website {
      margin-left: 16px;
   }
}