.place__paragraph_bottom {
   margin-left: 40px;
   margin-top: 24px;
}


@media screen and (max-width: 1025px) {
   .place__paragraph_bottom {
      margin-left: 25px;
      margin-top: 25px;
   }
}


@media screen and (max-width: 880px) {
   .place__paragraph_bottom {
      margin-left: 25px;
      margin-top: 25px;
   }
}


@media screen and (max-width: 560px) {
   .place__paragraph_bottom {
      margin-top: 35px;
      margin-left: 15px;
      font-size: 16px;
      max-width: 288px;
   }
}